.list-action, .preview-image, .badge-action {
    cursor: pointer;
}

.list-action:hover {
    color: #6c757d;
}
.preview-image:hover {
    text-decoration: underline;
}
.badge-action:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
}
.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}
.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.categories-note {
    margin-top:.25rem;
    font-size:80%;
}
.categories-note .warning {
    color: #EE5A24
}