.list-action, .preview-image, .badge-action {
    cursor: pointer;
}

.list-action:hover {
    color: #6c757d;
}
.preview-image:hover {
    text-decoration: underline;
}
.badge-action:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130;
}