<!DOCTYPE html>
<html lang⁼ "fr">

<head>
  <meta charset="utf-8">
  <title>Découverto: Outil de création de promenade</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link href="css/form-validation.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="bg-light" ng-app="UI" ng-controller="UICtrl">

  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="logo.jpg" alt="" width="59" height="96">
      <h2>Outil de création de promenade</h2>
      <p class="lead">Grâce à cet outil vous pourrez créer des parcours que vous pourrez ajouter par la suite à l'application "Les parcours
        de Découverto"</p>
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Points</span>
          <span class="badge badge-secondary badge-pill">{{points.length}}</span>
        </h4>
        <p ng-hide="points.length">Aucune point n'a été créé.</p>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" ng-repeat="item in points">
            <div>
              <h6 class="my-0">{{item.title}}</h6>
              <small class="text-muted">n°{{$index + 1}}</small>
            </div>
            <div>
              <span class="oi oi-arrow-bottom list-action" ng-click="switchPosition($index, $index+1)"></span>
              <span class="oi oi-arrow-top list-action" ng-click="switchPosition($index, $index-1)"></span>
            </div>
            <div>
              <span class="oi oi-trash list-action" ng-click="deletePoint($index)"></span>
              <span class="oi oi-pencil list-action" ng-click="startEditingPoint(item,$index)"></span>
            </div>
          </li>
        </ul>

      </div>
      <div class="col-md-8 order-md-1">

        <div ng-show="editing">
          <h4 class="mb-3">Édition d'un point d'interêt</h4>

          <form name="editPointForm" novalidate ng-submit="editing=false">

            <div class="mb-3" ng-class="{ 'was-validated': (editPoint.title!='') }">
              <label for="username">Nom</label>
              <input type="text" class="form-control" id="name" placeholder="Nom" required ng-model="editPoint.title">
              <div class="invalid-feedback" style="width: 100%;">
                Un nom est nécessaire.
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3" ng-class="{ 'was-validated': (editPoint.coords.latitude!='') }">
                <label for="latitude">Latitude</label>
                <input type="number" step="0.00001" class="form-control" id="latitude" placeholder="48.76707" value="" required ng-model="editPoint.coords.latitude">
                <div class="invalid-feedback">
                  Une latitude valide est nécessaire.
                </div>
              </div>
              <div class="col-md-6 mb-3" ng-class="{ 'was-validated': (editPoint.coords.longitude!='') }">
                <label for="longitude">Longitude</label>
                <input type="number" step="0.00001" class="form-control" id="longitude" placeholder="7.258699" value="" required ng-model="editPoint.coords.longitude">
                <div class="invalid-feedback">
                  Une longitude valide est nécessaire.
                </div>
              </div>
            </div>
            <div class="mb-3" ng-class="{ 'was-validated': (editPoint.sound!='') }">
              <label for="sound">Explication audio</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <span class="oi oi-musical-note"></span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Fichier audio" ng-model="editPoint.sound" disabled required>
                <div class="invalid-feedback" style="width: 100%;">
                  Un fichier audio est obligatoire.
                </div>
              </div>
              <button type="button" class="btn btn-secondary mt-2" ng-click="addSound(editPoint)">Sélectionner une explication audio</button>
            </div>
            <div class="mb-3">
              <label>Illustrations</label>
              <ul>
                <li ng-repeat="item in editPoint.images">
                  <b class="preview-image" ng-click="showImage(item.path)" alt="{{item.path}}" title="{{item.path}}">{{item.path | filename }}</b> {{item.width}}x{{item.height}}
                  <span class="badge badge-pill badge-danger badge-action" ng-click="removeImage(editPoint, $item)">
                    <span class="oi oi-minus"></span>
                  </span>
                </li>
              </ul>
              <p ng-hide="editPoint.images.length">
                <i>Aucune illustration n'a été sélectionné.</i>
              </p>
              <button type="button" class="btn btn-secondary" ng-click="addImage(editPoint)">Sélectionner des illustrations</button>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="editPointForm.$invalid">Éditer le point d'interêt</button>
          </form>
          <hr class="mb-4">
        </div>

        <h4 class="mb-3">Ajout d'un point d'interêt</h4>

        <form name="addPointForm" novalidate ng-submit="addPoint()">

          <div class="mb-3" ng-class="{ 'was-validated': (point.title!='') }">
            <label for="username">Nom</label>
            <input type="text" class="form-control" id="name" placeholder="Nom" required ng-model="point.title">
            <div class="invalid-feedback" style="width: 100%;">
              Un nom est nécessaire.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3" ng-class="{ 'was-validated': (point.coords.latitude!='') }">
              <label for="latitude">Latitude</label>
              <input type="number" step="0.00001" class="form-control" id="latitude" placeholder="48.76707" value="" required ng-model="point.coords.latitude">
              <div class="invalid-feedback">
                Une latitude valide est nécessaire.
              </div>
            </div>
            <div class="col-md-6 mb-3" ng-class="{ 'was-validated': (point.coords.longitude!='') }">
              <label for="longitude">Longitude</label>
              <input type="number" step="0.00001" class="form-control" id="longitude" placeholder="7.258699" value="" required ng-model="point.coords.longitude">
              <div class="invalid-feedback">
                Une longitude valide est nécessaire.
              </div>
            </div>
          </div>
          <div class="mb-3" ng-class="{ 'was-validated': (point.sound!='') }">
            <label for="sound">Explication audio</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <span class="oi oi-musical-note"></span>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Fichier audio" ng-model="point.sound" disabled required>
              <div class="invalid-feedback" style="width: 100%;">
                Un fichier audio est obligatoire.
              </div>
            </div>
            <button type="button" class="btn btn-secondary mt-2" ng-click="addSound(point)">Sélectionner une explication audio</button>
          </div>
          <div class="mb-3">
            <label>Illustrations <i>(facultatif)</i></label>
            <ul>
              <li ng-repeat="item in point.images">
                <b class="preview-image" ng-click="showImage(item.path)" alt="{{item.path}}" title="{{item.path}}">{{item.path | filename }}</b> {{item.width}}x{{item.height}}
                <span class="badge badge-pill badge-danger badge-action" ng-click="removeImage(point, $item)">
                  <span class="oi oi-minus"></span>
                </span>
              </li>
            </ul>
            <p ng-hide="point.images.length">
              <i>Aucune illustration n'a été sélectionné.</i>
            </p>
            <button type="button" class="btn btn-secondary" ng-click="addImage(point)">Sélectionner des illustrations</button>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="addPointForm.$invalid">Ajouter un point d'interêt</button>
        </form>

        <hr class="mb-4">

        <form class="needs-validation" novalidate>
          <h4 class="mb-3">Ajout d'un tracé GPS</h4>


          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Ajouter un tracé GPS</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2018 Découverto</p>
    </footer>
    <script src="js/main.js"></script>
  </div>
</body>

</html>